<div class="bg-img">
  <div class="container-xl welcome">
    <div class="py-5 mb-4 rounded-3">
      <div class="container-fluid py-5 text-end">
        <h1 class="display-5">Hello. My name is <span class="highlight"><%= Setting.owner_name %></span> and I have
          creative ideas and build websites</h1>
        <%= link_to 'View my Work', portfolio_index_path, class: "btn right" %>
      </div>
    </div>
  </div>
</div>
